#web_bg {
  /* 背景图像的地址（url括号里）  */
  background: url(https://images.pexels.com/photos/7214904/pexels-photo-7214904.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
  /* 背景图像不重复 */
  background-repeat: no-repeat;
  /* 背景图像大小 */
  background-size: cover: 50% auto
}
